<html><head>
	
	<title><%=classifyAppName%></title>
	<!-- build:css -->
	<link rel="stylesheet" href="/styles/app.css">
	<!-- endbuild -->

</head><body ng-app="app" ng-controller="app.main" layout="row" ng-cloak flex>
	<section layout="column" flex>

		<h2><%=classifyAppName%></h2>
		<p><%=description%></p>
		<div ui-view="content">Not Working..</div>

	</section>
	<!-- build:js -->
	<script src="/js/vendors.bundle.js"></script>
	<script src="/js/app.bundle.js"></script>
	<!-- endbuild -->
</body></html>
