

.input, .textarea {
	// box-shadow: none;
	transition: all ease-out .3s;
}


@mixin animateIn( $time: .3s ){
	animation: fadeInUp $time;
	// transition: all ease-out 0.2s;
}

.shake {
	animation: wobble 1s;
}